/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}



/* LAYOUT */

.container{
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
    padding:  0 24px;
}


.container-sm{
    max-width: 922px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}








/* HEADER */

/* Nav  Section */

.nav{
    background-color: #0084FD;
}

.nav__bar{
    padding: 24px;
    color: white;
}

.nav__bar--list__links{
    display: none;
}

.nav .row{
    justify-content: space-between;
    align-items: center;
}

.nav__bar--list__icon{
    font-size: 2rem;
}


/* Nav  Section Responsive Tablet */
@media (min-width:576px) {

}





/* Nav  Section Responsive Desktop */

@media (min-width:992px){

    .nav__bar--list__icon{
        display: none;
    }

    .nav__bar--list__links{
        display: flex;
    }

    .nav__bar--list__links li{
        margin: 0 10px;
    }
}