/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}



/* LAYOUT */

.container{
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
    padding:  0 24px;
}


.container-sm{
    max-width: 922px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container-footer{
    max-width: 444px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(100%/12*4);
}

.col-8{
    width: calc(100%/12*8);
}

.col-12{
    width: calc(100%/12*12);
}

body{
    font-family: "Open Sans", sans-serif;
}

/* STYLE */

.button-white{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 24px;
}

.button-blue{
    padding: 10px 60px;
    background-color: #0084FD;
    color: white;
    border-radius: 24px;
}

.button-purple-round{
    background-color:#9593e6 ;
    padding: 15px;
    border-radius: 50%;
}

.button-purple{
    padding: 10px 60px;
    background-color:#9593e6;
    color: white;
    border-radius: 24px;
    line-height: 0;
}

h3{
    font-size: 1.4rem;
}


h2{
    font-size: 2.5rem;
}





/* UTILITY */


.d-block{
    display: block;
}

.txt-bold{
    font-weight: bold;
}

.mg-bot-15{
    margin-bottom: 15px;
}






/* HEADER */

/* Nav  Section */

.nav{
    background-color: #0084FD;
}

.nav__bar{
    padding: 24px;
    color: rgb(255, 255, 255);
}

.nav__bar--list__links{
    display: none;
}

.nav .row{
    justify-content: space-between;
    align-items: center;
}

.nav__bar--list__icon{
    font-size: 2rem;
}


/* Nav  Section Responsive Tablet */
@media (min-width:768px) {

}





/* Nav  Section Responsive Desktop */

@media (min-width:992px){

    .nav__bar--list__icon{
        display: none;
    }

    .nav__bar--list__links{
        display: flex;
        align-items: baseline;
    }

    .nav__bar--list__links li{
        margin: 0 10px;
    }
}










/*\\ MAIN //*/

/*\ Hero Section /*/

.hero{
    margin: 30px auto;
}

.hero .container .row [class^=col]{
    width: 100%;
    padding: 12px;
}

[class^=hero__card--]{
    background-color: #B5DDFF;
    border-radius: 18px;
    padding: 12px;
}

[class^=hero__card--] > *{
    margin: 15px 0;
}

.hero__card--lg__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.hero__card--lg__img{
    max-width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: -27px;
    padding: 0;
    
}


.hero__card--sm{
    text-align: center;
}

.hero__cards h3, 
.hero__cards i{
    color:#0084FD 
}

.hero__cards p{
    line-height: 2rem;
}

.hero__cards i{
    font-size: 5rem;
}

.hero__card--lg__body .fa-apple{
    font-size: 1rem;
    color: white;
    margin-right: 10px;
}

/* Hero  Section Responsive Tablet */
@media (min-width:768px) {
    .hero .container .row .col-lg{
        width: calc(100%/3*2);
    }

    .hero .container .row .col-sm{
        width: calc(100%/3);
    }

    .hero__card--sm{
        height: 100%;
    }

    .hero__card--lg__img{
        max-width: 250px;
        display: block;
        margin: 0;
        margin-bottom: -27px;
        padding: 0;
        
    }

}




/* Hero  Section Responsive Desktop */

@media (min-width:992px){

    .hero__card--lg{
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

}








/*\ Strategy Section /*/


.strategy .container-sm .row [class^=col]{
    width: 100%;
}

.strategy{
    background-color: #9593e6;
    padding: 50px 0;
}

.strategy__title > *{
    margin-bottom: 60px;
    color: white;
    line-height: 1.5rem;
}

.strategy__title__img{
    padding: 40px 0;
    margin-bottom: 100px;
}

.strategy__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    text-align: center;
    gap: 30px;
    border-radius: 11%;
    padding: 20px 0;
}











/* Strategy  Section Responsive Tablet */
@media (min-width:768) {
   
   .strategy h2{
    font-size: 4rem;
   }


   .strategy__title__img{
    width: 100%;
}

}




/* Strategy  Section Responsive Desktop */

@media (min-width:992px){

    .strategy .container-sm .row{
        align-items: flex-end;
    }
   
    .strategy .container-sm .row .col-dt-6{
    width: calc(100%/12*6);
    padding: 0 20px;
   }

   .strategy h2{
    font-size: 1.8rem;
   }


   .strategy__card__img{
    max-width: 300px;
   }

   .strategy__title >*:last-child{
    margin-bottom: 0;
   }
}





/*\ Testimonials Section /*/



.testimonials{
    margin: 70px 0;
    text-align: center;
}

.testimonials__text h2{
    font-size: 1rem;
    font-weight: 400;
}

.testimonials__text h3{
    font-size: 2rem;
    color: #9593e6;
}

.testimonials__text > *{
    margin-bottom: 24px;
}


.testimonials .row{
    align-items: center;
    justify-content: center;
}

.testimonials__card{
    padding: 24px;
    background-color: #9593e6;
    margin: 24px 0;
    border-radius: 60px;
    line-height: 2rem;
    color: white;
    font-size: 18px;
}

.testimonials__card > *{
    margin-bottom: 10px;
}


.testimonials__card__img{
    flex-shrink: 0;
}

.testimonial-photo{
    width: 205px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials__card__description{
    flex-grow: 1;
}



/* Testimonials  Section Responsive Tablet */
@media (min-width:768px){
    
    html{
        font-size: 22px;
    }

    .testimonials__card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 40px 50px;
        gap: 20px;
        line-height: 1.5rem;
    } 



    .testimonials__card__description{
        width: 60%;
        text-align: left;
        line-height: 1.5rem;
    }



}



/* Testimonials  Section Responsive Desktop */

@media (min-width:992px){

    html{
        font-size: 24px;
    }

}







/*\ Benefits Section /*/

.benefits{
    background-color: #9593e6;
    padding-bottom: 40px;
}


.benefits__title{
    font-size: 1.8rem;
    text-align: center;
    color: white;
    padding: 75px 0;
}


.benefit__card{
    background-color: white;
    margin: 20px 0;
    border-radius: 18px;
}


.benefit__card > *{
    padding: 16px 40px;    
}

.benefit__card--number{
    padding-top: 40px;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: #9593e6;
}


.benefit__card--title{
    color: #9593e6;
}


.benefit__card__content{
    line-height: 1.8rem;
    color: rgb(119, 119, 119);
}


.benefit__card--button{
    padding-bottom: 40px;
}



/* Testimonials  Section Responsive Tablet */
@media (min-width:768px){
    
    .col-md-6{
        width: calc(100%/12*6);
        padding: 12px;
    }

    .benefit__card{
        margin: 0;
    }
}



/* Testimonials  Section Responsive Desktop */

@media (min-width:992px){

    .col-lg-4{
        width: calc(100%/12*4);
        padding: 12px;
    }

    .benefit__card{
        margin: 0;
    }

    html{
        font-size: 14px;
    }
}









/*\ About Us Section /*/


.about-us{
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-us__text--title{
    color: #9593e6;
}

.about-us__text--content{
    margin-top: 60px;
    line-height: 2.2rem;
}

.about-us__linkedin{
    margin-top: 60px;
}

.about-us__linkedin--img{
    max-width: 50%;
    border-radius: 50%;
}

.about-us__linkedin--intro{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #9593e6;
    font-size: 1.5rem;
}

.about-us__linkedin--button{
    padding: 5px 10px;
}

.about-us__linkedin--quotes{
    position: relative;
    font-size: 70px;
    color: #9593e6;
    top: 100px;
    left: 115px;
}


/* About Us  Section Responsive Tablet */
@media (min-width:768px){

  
    .about-us{
     font-size: 16px;
    }

    .col-md-7{
        width: calc(100%/12*7);
        padding: 24px;
    }

    .about-us__text--content{
     line-height: 2rem;
    }

    .col-md-5{
     width: calc(100%/12*5);
     padding: 24px;
    }

    .about-us__linkedin{
        margin-top: 0;
    }

    .about-us__linkedin--intro{
        font-size: 1.2rem;
        margin-top: 30px;
    }

    .about-us__linkedin--img{
        max-width: 100%;
    }

    .about-us__linkedin--quotes{
        top: 55px;
        left: 200px;
    }
}





/* About Us  Section Responsive Desktop */

@media (min-width:992px){   

    .about-us__text--title{
        font-size: 4rem;
    }

    .about-us__text--content{
        line-height: 3rem;
    }

    .col-lg-9{
        width: calc(100%/12*9);
        padding: 24px;
    }

    .col-lg-3{
        width: calc(100%/12*3);
        padding: 24px;
    }

    .about-us__linkedin--intro{
        font-size: 1.8rem;
        margin-top: 30px;
    }

    .about-us__linkedin--quotes{
        left: 180px;
    }
}








/*\ Get Started Section /*/

.get-started{
    text-align: center;
    background-color: #9593e6;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.get-started span{
    display: block;
}

.get-started .container > *{
    margin-bottom: 30px;
}

.get-started__title{
    font-size: 18px;
    font-weight: 400;
}

.get-started__pricing{
    font-size: 32px;
    font-weight: bold;
}

.get-started__bait{
    color: #FDC15F;
    font-weight: bold;
    font-size: 64px;
}

.get-started__content{
    line-height: 1.7rem;
}

.get-started__button{
    padding: 20px 80px;
    background-color: white;
    color:#9593e6;
    border-radius: 38px;
    display: inline-block;
    font-weight: bold;
}


.get-started__copyright{
    font-size: 14px;
}

.get-started__copyright--policy{
    text-decoration: underline;
}




/* Get Started  Section Responsive Tablet */
@media (min-width:768px){

    .get-started__pricing{
        font-size: 41px;
    }


    .get-started__bait{
        font-size: 92px;
    }
    
    
    
    .get-started__content{
        font-size: 16px;
        line-height: 1.4rem;
        margin: 0 auto;
        max-width: 500px;
    }
}





/* Get Started  Section Responsive Desktop */

@media (min-width:992px){

}








/*\\ FOOTER //*/


/*\ Lorem Footer Section /*/

.lorem-footer{
    background-color: #333333;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 50px 30px;  
    font-size: 13px;
}

.lorem-footer__slogan{
    margin-bottom: 70px;
}


.lorem-footer__links a{
    color: #6c6ba7;
    text-decoration: underline;
}




/* Get Started  Section Responsive Tablet */

@media (min-width:768px){

    .lorem-footer{
        font-size: 16px;
    }


}

















/* DEBUG */

/* .debug main [class^=col]{
    border: 1px solid red;
} */


/* .benefits{
    padding-bottom: 1000px;
} */

